.customercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.customertable{
   width: 1260px;
   height: 630px;
   background-color: #fff;
   border: 1px solid #c4c4c4;
   border-radius: 10px;
}
.customerheader{
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #e52c32;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}
.customerleft{
    margin-left: 2%;
}
.customerright{
    margin-right: 2%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
 
}
.downloadbutton{
    background-color: transparent;
    border: 1px solid #e52c32;
    border-radius: 30px;
    padding: 10px 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #e52c32;
}

.customerheadertitlegrid{
    display: grid;
    height: 40px;
    grid-template-columns: 0.2fr 1.5fr 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 2%;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    background-color: #fffaf4;
}
.customerheadertitle{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #808080;
}

.customerrendergrid{
    display: grid;
    height: 40px;
    width: 100%;
    grid-template-columns: 0.2fr 1.5fr 1fr 1fr 1fr;
padding: 1% 2%;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
 
}

.customertext{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #555570;
}
.customerrendercontainer{
    display: block;
    width: 1260px;
    height: 520px;
    overflow-y: scroll;
}

.customerrendercontainer::-webkit-scrollbar{
    display: none;
}
.bordered{
    width: auto;
    border-bottom: 1px solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.noborder{
    width: auto;
    border-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customerplaced{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #1DAB33;
}

.processing{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #FCD232;
}
.ready{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #484DD4;
}
.rejected{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #FF7878;
}

.customertablenumber{
    background-color: #E3E2FF   ;
    padding: 4%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7a79a0;
    border-radius: 5px;
}

.acceptreject{
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #1DAB33;
    border: 1px solid #1DAB33;
    border-radius: 5px;
    background-color: transparent;
}

.completedr{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #F10C0C;
}
.completed{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #1DAB33;
}

.readytoserve{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#495375;
    
    border: 1px solid #1DAB33;
    border-radius: 5px;
    background-color: transparent;
}

.viewcustomer{

}

.viewcustomerbutton{
    background-color: #495375;
    color: #fff;
    border: 0px;
    padding: 8% 10%;
    white-space: nowrap;
    border-radius: 5px;
}
.containerbutton{
    width: 1260px;;
    margin-left: 78%;
    margin-right: 4%;
    display: flex;
    justify-content: flex-end;
}
.leftdisplaybutton{

    border: none;
    height: 30px;
    width: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #D4D4D4;

}
.rightdisplaybutton{
    border: none;
    height: 30px;
    width: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #D4D4D4;
}

.leftdisabledbutton{

    border: none;
    height: 30px;
    width: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #E9E9E9;

}
.rightdisabledbutton{
    border: none;
    height: 30px;
    width: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E9E9E9;
}

.footer{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 1260px;
    display: flex;
}


.customermodalbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 480px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: none;
    border-radius: 20px;
    background-color: #FFFAF4;
}

.innermodalbox{
    margin-right: 5%;
    margin-left: 5%;
    width: auto;
    height: auto;
}

.customermodalclose{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: -3%;
}
.customermodalclosebutton{
    background-color: transparent;
    border: none;

}
.closebuttonicon{
    width: 20px;
    height: 20px;
    color: #e52c32;
}

.customermodaltitle{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #F10C0C;
    margin-bottom: 2%;
}

.customermodalsubtitle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
}

.customermodaldate{
display: flex;
align-items: center;
width: 100%;
flex-direction: row;
}
.customertime{
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #4c4c4c;
}
.timeicon{
    height: 15px;
    width: 15px;
color: #555570;
margin-right: 2%;
}
.space{
    margin: 0 2px 0 2px;
}
.customerdate{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #F10C0C;
}

.customermodalstatus{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: auto;
 
}
.statustext{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #555570;
    margin-right: 5%;
}
.statuscoloredtext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.customermodalitems{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.customermodalform{
    width: 100%;
}
.customermodalinputlabel{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #424242;
}
.customermodalinputfile{
    width: 270px;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 5%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #424242;
}



.customermenuitemcontainer{
}

.customermenutitle{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #424242;
}
.customermenuitem{
    margin-top: 2%;
    width: 100%;
    height: 150px;
    background-color: #DBDBDB;
    border-radius: 10px;
}

.customertotalsummary{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 3% 1% 0 1%;
}

.customertotalitems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    border-bottom: 0.5px solid #555570;
}
.customertotalitems-n{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    border-bottom:none;
}
.lefttext{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #424242;
    margin-bottom: 5% ;
}
.righttext{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #424242;
    text-align: right;
}

.customermodalbutton{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.customercancelbutton{
    background-color: #BEBEBE;
    border: none;
    padding: 2% 8%;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    margin-right: 2%;
}

.customerconfirmbutton{
    background-color: #BEBEBE;
    border: none;
    padding: 2% 8%;
    border-radius: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
}

.atrestaurant{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #484DD4;
}

.notinrestaurant{
    padding: 8% 10%;
    white-space: nowrap;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    background-color: #FF7878;
}