.ordercontainer {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5%;
  align-items: center;
  height: auto;
}

.outerordertable::-webkit-scrollbar {
  display: none;
}
.outerordertable {
  position: relative;
  border-radius: 20px;
  overflow: scroll;
  border: 0.5px solid #9b9b9b;
}
.ordertable {
  width: 100%;
  min-width: 1263px;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
}
.orderheader {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #e52c32;
  width: 100%;
  height: 68px;
  justify-content: center;
  align-items: center;
}
.orderleft {
  display: flex;

  margin-left: 2%;
}
.orderright {
  margin-right: 2%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.downloadbutton {
  background-color: transparent;
  border: 1px solid #e52c32;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #e52c32;
}

.orderheadertitlegrid {
  display: grid;

  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  height: 50px;
  grid-template-columns: 0.5fr 1.4fr 1fr 1fr 1.3fr 1fr 1.2fr 0.5fr;
  padding: 0 3%;
  align-items: center;
  background-color: #fffaf4;
  white-space: nowrap;
}
.orderheadertitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.orderrendergrid {
  display: grid;
  justify-content: flex-start;
  height: 75px;
  width: 100%;
  grid-template-columns: 0.5fr 1.4fr 1fr 1fr 1.3fr 1fr 1.2fr 0.5fr;
  padding: 0 3%;
  align-items: center;
}

.bordered {
  width: auto;
  border-bottom: 0.5px solid #808080;
  display: flex;
  align-items: center;
}

.noborder {
  width: auto;
  border-bottom: 0px;
  display: flex;
  align-items: center;
}

.ordertext {
  display: flex;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #555570;
}
.orderrendercontainer {
  visibility: visible;
  width: 100%;
  height: 520px;
  overflow-y: hidden;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.orderrendercontainer::-webkit-scrollbar {
  display: none;
}

.status {
  display: flex;
  align-items: center;
}
.pending {
  display: flex;
  align-items: center;
  padding: 2% 10%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  border-radius: 5px;
  background-color: #c4c4c4;
}

.orderplaced {
  display: flex;
  align-items: center;
  padding: 2% 10%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  border-radius: 5px;
  background-color: #4678bc;
}

.served {
  display: flex;
  align-items: center;
  padding: 2% 10%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  border-radius: 5px;
  background-color: #ffa800;
}
.payment {
  display: flex;
  align-items: center;
  padding: 2% 10%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  border-radius: 5px;
  background-color: #1cab33;
}

.complete {
  display: flex;
  align-items: center;
  padding: 2% 10%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  border-radius: 5px;
  color: #1cab33;
  background-color: transparent;
  border: 1px solid #1cab33;
}

.rejected {
  display: flex;
  align-items: center;
  padding: 2% 15%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  border-radius: 5px;
  color: #ff7878;
  background-color: transparent;
  border: 1px solid #ff7878;
}
.modalrejectedstatus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 15%;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  border-radius: 5px;
  color: #fff;
  background-color: #e52c32;
  border: none;
}

.ordertablenumber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e2ff;
  width: 25px;
  height: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #7a79a0;
  border-radius: 5px;
}

.acceptreject {
  display: flex;
  align-items: center;
}

.proceed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
  width: 91px;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  border-radius: 5px;
  background-color: #34ae47;
}

.completed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
  width: 91px;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #34ae47;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #34ae47;
}

.completedR {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
  width: 91px;
  height: 25px;
  white-space: nowrap;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #f10c0c;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #f10c0c;
}

.vieworderbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 5%;
  width: 99px;
  background-color: #495375;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  border: 0px;
  white-space: nowrap;
  border-radius: 5px;
}
.containerbutton {
  width: 100%;
  margin-left: 78%;
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
}
.leftdisplaybutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #d4d4d4;
}
.rightdisplaybutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #d4d4d4;
}

.leftdisabledbutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e9e9e9;
}
.rightdisabledbutton {
  border: none;
  height: 30px;
  width: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e9e9e9;
}

.footer {
  margin-top: 2%;
  max-width: 100%;
}

.ordermodalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 480px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: none;
  border-radius: 20px;
  background-color: #fffaf4;
}

.innermodalbox {
  margin-right: 5%;
  margin-left: 5%;
  width: auto;
  height: auto;
}

.closebuttonicon {
  width: 20px;
  height: 20px;
  color: #e52c32;
}

.ordermodaltitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #f10c0c;
  margin-bottom: 2%;
}

.ordermodalsubtitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2%;
}

.ordermodaldate {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.ordertime {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #4c4c4c;
}
.timeicon {
  color: #555570;
  margin-right: 3%;
}

.space {
  margin: 0 2px 0 2px;
}
.orderdate {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #f10c0c;
}

.ordermodalstatus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: auto;
}
.statustext {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #555570;
  margin-right: 5%;
}
.statuscoloredtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.ordermodalitems {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ordermodalform {
  width: 100%;
}
.ordermodalinputlabel {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #424242;
  margin-left: 3%;
}

.ordermodalinputfile {
  width: 270px;
  height: 35px;
  margin-top: 1%;
  margin-bottom: 4%;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 5%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #424242;
}

.rejectreasontext {
  margin-top: 1%;
  padding-left: 3%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  color: #1f1f1f;
}

.ordermenutitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #424242;
}
.ordermenuitem {
  margin-top: 2%;
  width: 100%;
  height: 150px;
  background-color: #dbdbdb;
  border-radius: 10px;
  overflow-y: scroll;
}

.ordermenuitem::-webkit-scrollbar {
  display: none;
}

.ordermenucontainer {
  background-color: #fff;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

.ordermenuimagecontainer {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 45px;
}

.orderdetailsmenutext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.orderdetailsmenutitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #424242;
  margin-bottom: 2%;
}

.orderdetailmenuprice {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #424242;
}

.ordertotalsummary {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 3% 1% 0 1%;
}

.ordertotalitems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
  border-bottom: 0.5px solid #555570;
}
.ordertotalitems-n {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
  border-bottom: none;
}
.lefttext {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #424242;
  margin-bottom: 5%;
}
.righttext {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #424242;
  text-align: right;
}
