.orderstatusoutercontainer{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5%;
  align-items: center;
  height: 75vh;
  position: relative;
  overflow: scroll;
}

.orderstatusoutercontainer::-webkit-scrollbar{
  display: none;
}

.orderstatuscontainer {
  display: grid;
  grid-row-gap: 5%;
  grid-column-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}



.orderstatuscard {
  width: 377px;
  height: 400px;
  background: #ffffff;
  border: 0.5px solid #9b9b9b;
  border-radius: 11px;
  position: relative;

}
.closeordericon{
position: absolute;
top: 10px;
right: 15px;
}

.orderscreen {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #424242;
}

.outerborder {
  border-color: #df3030;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
  width: 569px;
  height: 343px;
  margin-top: 2%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

.outerborder::-webkit-scrollbar {
  display: none;
}

.ordergrid {
  display: grid;
  grid-template-areas: "a a";
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin: 4% 0 4% 0;
}

.orderID {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #424242;
  margin: 6% 0 2% 8%;
}

.orderdetail {
  display: flex;
  flex-direction: row;
  margin: 0 0 5% 8%;
}

.orderstatustime {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #979797;
}

.tableID {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #df3030;
  margin-left: 2%;
}
.menucontainer {
  margin: 6% 8% 2% 8%;
  height: 180px;
  overflow-y: scroll;
  border-bottom: 1px solid #D8D8D8;
}

.menucontainer::-webkit-scrollbar{
    display: none;
}

.menudetails {
  display: flex;
  flex-direction: row;
}
.menuimagecontainer {
  width: 90px;
  height: 70px;
  border-radius: 30px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.menuimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
   border-radius: 10px;

}
.menutext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #D8D8D8;
}
.nobordermenutext{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menutitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  margin-bottom: 3%;
}

.menutext2 {
  display: flex;
  flex-direction: row;
  width: 220px;
}

.menuprice {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #979797;
}

.menuquant {
  flex: 1;
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.quant{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px; 
}
.totalcontainer{
    display: flex;
    flex-direction: row;
    margin: 6% 8% 2% 8%;
}
.total{
    flex: 1;
}
.totalquant{
    font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #979797;
  margin-bottom: 5%;
}
.totalprice{
    font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #424242;

}

.buttoncontainer{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.proceedstatusbutton {
  background-color: transparent;
  border: 1px solid #4678BC;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #4678BC;
  border-radius: 5px;
  padding: 15px 30px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.servestatusbutton {
  background-color: transparent;
  border: 1px solid #FFA800;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFA800;
  border-radius: 5px;
  padding: 15px 30px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.completestatusbutton {
  background-color: transparent;
  border: 1px solid #1DAB33;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1DAB33;
  border-radius: 5px;
  padding: 15px 30px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.completedstatusbutton {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1DAB33;
  border: none;
}

.icon{
    margin-right: 10%;
}

.rejectorderbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 482px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 20px;
  background-color: #fffaf4;
}

.radiogroupcontainer{
  margin-top: 5%;
}

.notification{
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  z-index: 3;
  top: -30px;
  right: 60px;
  width: 227px;
  height: 49px;
  background-color: #E52C32;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px;
}
.hidden{
  display: none;
}
.notificationtextcontainer{
display: flex;
width: 100%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-left: 8%;
}
.notificationtext{
   font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}
.notificationclose{
position: absolute;
top: 5px;
right: 8px;
}
.notifclosebutton{
display: flex;
justify-content: center;
  align-content: center;
  align-items: center;
width: 16px;
height: 16px;
outline: none;
background-color: transparent;
border: 1px solid #fff;
border-radius: 30px;
box-shadow: none;
color: #fff;
font-size: 8px;
padding: 0;

}
